node_modules
Dockerfile*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.zed
.env
.env.development
.env.production
.env.test
biome.json
dprint.json
oxlint.config.ts
tsconfig.json
bunfig.toml
